<p class="font-weight-bold m-0 @(Compact ? "small" : "h5")">
    <i class="@Resource.ProviderDetail.IconClass mr-1"></i>
    @Resource.Name
    <small class="text-muted pl-3">@Resource.ProviderDetail.Name</small>
    @if (ShowRiskScore)
    {
        <Badge Color="Color.Primary" IsPill="true" Float="Float.Right">
            @Resource.RiskScore
        </Badge>
    }
</p>

@using Blazorise
@code {
    [Parameter]
    public ResourceViewModel Resource { get; set; }

    [Parameter]
    public bool ShowRiskScore { get; set; }

    [Parameter]
    public bool Compact { get; set; }
} 