@page "/managedSecrets/{SecretId}"

<Container IsFluid="true">
    <Row Margin="Margin.Is4.FromBottom">
        <Column ColumnSize="ColumnSize.Is8">
            <Card>
                <CardHeader Padding="Padding.Is2.OnY">
                    <Heading Size="HeadingSize.Is5" Class="font-weight-bold" Margin="Margin.Is0">Managed Secret Detail</Heading>
                </CardHeader>
                <CardBody>
                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">ID<span class="float-right text-muted">@Secret.ObjectId</span></Heading>
                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">Current Nonce<span class="float-right text-muted">@Secret.Nonce</span></Heading>
                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">Name<span class="float-right text-muted">@Secret.Name</span></Heading>
                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">Providers<span class="float-right text-muted">@Secret.ProviderSummary</span></Heading>
                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">Last Changed<span class="float-right text-muted">@Secret.LastChanged</span></Heading>
                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">Expires<span class="float-right text-muted">@Secret.Expiry</span></Heading>

                    @{
                        Background barColor;
                        if (Secret.ExpiryPercent > 90) barColor = Background.Danger;
                        else if (Secret.ExpiryPercent > 75) barColor = Background.Warning;
                        else barColor = Background.Success;
                    }

                    <Progress Margin="Margin.Is3.FromBottom" Size="Size.Small">
                        <ProgressBar Background="@barColor" Value="@Secret.ExpiryPercent" />
                    </Progress>

                    <Heading Size="HeadingSize.Is6" Class="font-weight-bold">
                        Rotation Confirmations
                        <span class="float-right">
                            <ConfirmationStrategiesComponent @bind-Value="@Secret.TaskConfirmationStrategies" />
                        </span>
                    </Heading>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Buttons Orientation="Orientation.Vertical">
                <Blazorise.Button IsDisabled="!Secret.TaskConfirmationStrategies.HasFlag(TaskConfirmationStrategies.AdminCachesSignOff) &&
                                                   !Secret.TaskConfirmationStrategies.HasFlag(TaskConfirmationStrategies.AdminSignsOffJustInTime)"
                                  Color="Color.Primary">Create Rekeying Task</Blazorise.Button>
                <Blazorise.Button Color="Color.Danger">Delete Managed Secret</Blazorise.Button>
            </Buttons>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <Accordion>
                @for (var i = 0; i < Secret.Resources.Count(); i++)
                {
                    var resource = Secret.Resources.ToArray()[i];
                    <Card>
                        <CardHeader>
                            <Button Clicked="@(() => PutVisibility(resource.ObjectId, !GetVisibility(resource.ObjectId)))">
                                <ResourceNameComponent @bind-Value="@resource" ShowRiskScore="false" />
                            </Button>
                            <RiskScorePillComponent Value="@resource.RiskScore" Float="Float.Right" Class="mt-2" />
                        </CardHeader>
                        <Collapse IsOpen="@GetVisibility(resource.ObjectId)">
                            <CardBody Padding="Padding.Is2.OnAll">
                                <Container IsFluid="true" Padding="Padding.Is0.OnAll">
                                    <Row Margin="Margin.Is3.FromBottom">
                                        <Column>
                                            <Card>
                                                <CardHeader Padding="Padding.Is1.OnY">
                                                    <Heading Size="HeadingSize.Is5" TextColor="TextColor.Info" Margin="Margin.Is0.OnAll" Class="font-weight-bold">Settings</Heading>
                                                </CardHeader>
                                                <CardBody Padding="Padding.Is0">
                                                    <ProviderSettingsComponent @bind-Value="@resource.ProviderConfiguration" />
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column>
                                            <Card Margin="Margin.Is2.FromBottom">
                                                <CardHeader Padding="Padding.Is1.OnY">
                                                    <Heading Size="HeadingSize.Is5" TextColor="TextColor.Warning" Margin="Margin.Is0.OnAll" Class="font-weight-bold">Risks</Heading>
                                                </CardHeader>
                                                <CardBody Padding="Padding.Is1">
                                                    <RiskListGroupComponent @bind-Value="@resource.Risks" />
                                                </CardBody>
                                            </Card>
                                            <Card>
                                                <CardHeader Padding="Padding.Is1.OnY">
                                                    <Heading Size="HeadingSize.Is5" TextColor="TextColor.Info" Margin="Margin.Is0.OnAll" Class="font-weight-bold">Action Description</Heading>
                                                </CardHeader>
                                                <CardBody>
                                                    @if (string.IsNullOrEmpty(resource.RuntimeDescription))
                                                    {
                                                        <code>Provider does not describe its actions!</code>
                                                    }
                                                    else
                                                    {
                                                        <code>@resource.RuntimeDescription</code>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </Container>
                            </CardBody>
                        </Collapse>
                    </Card>
                }
            </Accordion>
        </Column>
    </Row>
</Container>

@using AuthJanitor.Automation.AdminUi.Components.Resources
@using AuthJanitor.Automation.AdminUi.Components.Risks
@using AuthJanitor.Automation.AdminUi.Components.Secrets
@using AuthJanitor.Automation.Shared.ViewModels
@code {
    public bool PutVisibility(Guid id, bool visible) => Visibilities[id] = visible;
    public bool GetVisibility(Guid id) => Visibilities.ContainsKey(id) ? Visibilities[id] : false;
    public Dictionary<Guid, bool> Visibilities { get; set; } = new Dictionary<Guid, bool>();
    public ManagedSecretViewModel Secret { get; set; } = new ManagedSecretViewModel();

    [Parameter]
    public string SecretId { get; set; }

    public TimeSpan DurationSoFar => DateTimeOffset.UtcNow - Secret.LastChanged.GetValueOrDefault();

    protected override async Task OnInitializedAsync()
    {
        Secret = await Http.AJGet<ManagedSecretViewModel>(Guid.Parse(SecretId));
        foreach (var item in Secret.Resources) Visibilities[item.ObjectId] = false;
        await base.OnInitializedAsync();
    }
}